<h1>Harry Potter DB</h1>
<h3>By Geneva Lai and Anthony Scimone</h3>
<h1>Hogwarts Houses:</h1>

<!--******************************************************************
      ADD HOUSE
*******************************************************************-->
<form id="addhouse" action="/houses" method="post">
    House Name: <input type="text" name="name"><br>
    <input type="submit" value="Add House">
</form>

<table>
  <!--******************************************************************
    DISPLAY HOUSE DATA
  *******************************************************************-->
    <thead>
        <th>House Name</th>
    </thead>
    <tbody>
        {{#each houses}}
        <tr>
            <td>{{this.name}}</td>
            <td><a href="/houses/{{this.id}}">Update/Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

